<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="FileUploadBinding" transferMode="Streamed" />
      </netTcpBinding>
    </bindings>
    
    <client>
      <endpoint name="FileUploadEndPoint" address="net.tcp://127.0.0.1:8001" binding="netTcpBinding" bindingConfiguration="FileUploadBinding" contract="Model.IFileUpload" />
    </client>
  </system.serviceModel>-->

  <appSettings>
    <add key="WCFAddress" value="net.tcp://127.0.0.1:8001" />
    <add key="Account" value="account1" />
    <add key="PassWord" value="pass1" />
    <add key="Token" value="1qaz2wsx"/>
    <add key="ThumbPictureWidth" value="400" />
    <add key="ThumbPictureHeight" value="300" />
    <add key="VectorPictureExtenName" value=".cdr|.ai"/>
    <add key="PictureExtenName" value=".jpg|.bmp"/>
    <add key="RestHours" value="9-22"/>
    <add key ="MaxThread" value="5"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
</configuration>
