<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="FileUploadBinding" maxReceivedMessageSize="2147483648" transferMode="Streamed" maxConnections="10"/>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="BLLServer.FileUploadProcess">
        <endpoint address="net.tcp://127.0.0.1:8001" binding="netTcpBinding"
          bindingConfiguration="FileUploadBinding" contract="Model.IFileUpload" />
      </service>
    </services>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <appSettings> 
      <add key="Token" value="1qaz2wsx"/>
    </appSettings> 
  
  <connectionStrings>
      <add name="FileServerConnString" connectionString="server=.; database=EsFashion;user id=sa;password=tyinfo;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
